body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (max-width: 950px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }



    .ex {
        align-content: center;
    }

    .form {

        margin: auto;
    }

    .main{
        display: none;
        margin: auto;
        align-content: center;
    }
    

    #email,
    #address {
        max-width: 200px;
    }

    /* label{
        display: block;
        margin: auto;
    } */

    input {
        max-width: 200px;
        /* display: block;
        margin: auto; */
    }

}

section {
    background: url(./../images/sign.jpg) no-repeat;
    background-size: cover;
    min-height: 750px;
    width: 100vw;
    align-content: center;
    background-color: black;
}

.ex {
    min-height: 750px;
    width: 100vw;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.463);
    /* border: 2px solid black; */

}

h1 {
    font-size: 40px;
    text-align: center;
    display: block;
    margin: auto;
}

.box {
    /* border: 2px solid black; */
    min-height: 700px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.203);
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    
    margin: auto;
}

.form {
    margin: 10px;

}

#email,
#address {
    width: 532px;
}

label {
    font-size: 18px;
    line-height: 22px;
    
}

input {
    display: block;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    /* border: 2px solid rgba(0, 128, 0, 0.393); */
}

#pic {
    border: none;
}

.sub {
    margin: 50px auto;
    display: block;
    height: 40px;
    width: 400px;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    background-color: rgb(130, 203, 231);
}

.sub:hover {
    background-color: rgb(101, 197, 235);
    color: rgba(255, 250, 250, 0.82);
}